*, ::before, ::after{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
}

.accueil{
    position: relative;
    display: flex;
    width: 100%; height: 100%;
}
.bloc-fondu{
    position: relative;
    width: 40%;
    background: #fff;
    box-shadow: 90px 0 100px 200px #fff;
}
.bloc-background{
    background-image: url(img2.jpg);
    width: 60%;
    height: 120%;
    background-position: 70% 40%;
    background-size: cover;
}
h1{
    text-align: center;
    font-size: 50px;
    padding-top: 70px;
    padding-bottom: 50px;
    color:#4d4b4b;
    margin-left: 4vw;
    
}
.bloc-fondu p{
    font-size: 15px;
    text-align: justify;
    width: 550px;
    margin-left: 8vw;    
}

.btn{
    font-size: 18px;
    padding:15px;
    border-radius: 5px;
    outline: none;
    border: none;
    margin-top: 50px;
    border:1px solid #4d4b4b;
    width:150px;
    cursor: pointer;
}

.btn:nth-child(5){
    margin-left: 8vw;
    margin-right: 10%;
    background-color: #4d4b4b;
    color: #fff;
}